*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --primary-color: #fad0c4;
  --secondary-color: #c599b6;
  --text-black: #000000;
  --smokey-white: #f5f5f5;
}

html{
  font-size: 62.5%;
  font-family: "Hanken Grotesk", sans-serif;
}

body{
  background-color: var(--smokey-white);
}

.header-section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100%;
  background-color: var(--primary-color);
}

.header-text{
  margin-bottom: .5rem;
  margin-top: 4.2rem;
  font-size: 4rem;
  font-weight: 800;
}

.cat-entry-form{
  margin-top: 1.7rem;
  padding: 3rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9rem;
  flex-wrap: wrap;
  row-gap: 2rem;
}

.cat-input-title{
  /* font-size: 2.2rem; */
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.cat-input-title p{
  font-size: 2.2rem;
  margin-bottom: 1rem;
}

.input-holder{
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  gap: .6rem;
}

.cat-input{
  height: 5.4rem;
  width: 30rem;
  padding-inline: 1.2rem 1rem;
  padding-block: 3rem;
  font-size: 2.1rem;
  text-align: center;
  color: var(--text-black);
  font-weight: 700;
  border: none;
  border-radius: 5px;
  outline: none;
}

.cat-input::placeholder{
  color: var(--secondary-color);
  font-style: italic;
  font-weight: 500;
  font-size: 1.7rem;
}

.submit-btn{
  padding: 1.4rem 1.9rem;
  font-size: 1.9rem;
  font-weight: 500;
  color: var(--smokey-white);
  background-color: var(--secondary-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-result{
  display: flex;
  /* flex-direction: column; */
  margin-left: auto;
  margin-right: auto;
  width: 78%;
  padding: 5rem 0;
  text-align: left;
  font-size: 2.1rem;
  background-color: var(--smokey-white);
}

.spinner-wrapper{
  height: 20rem;
  width: 20rem;
  margin: auto;
}

.spinner-wrapper img{
  object-fit: cover;
  height: 100%;
  width: 100%;
}

#spinner{
  animation: rotation .5s linear infinite;
  display: none;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.displayed-images-container{
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  row-gap: 1rem;
}

.displayed-image-wrapper{
  border: 2px solid red;
  width: 280px;
  height: 400px;
}

.displayed-image-wrapper img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}